<h1> Welcome to the Nested Forms Lab!</h1>
<form method= "post" action="/pirates">
    Pirate Name: <input type = "text" name = "pirate[name]">
    Pirate Weight: <input type = "text" name = "pirate[weight]">
    Pirate height: <input type = "text" name = "pirate[height]">
    <br>
    Ship name 1: <input id = "ship_name_1" type = "text" name = "pirate[ships][][name]" >
    Ship type 1: <input id = "ship_type_1" type = "text" name = "pirate[ships][][type]" >
    Ship booty 1: <input id = "ship_booty_1" type = "text" name = "pirate[ships][][booty]" >
    <br>
    Ship name 2: <input id = "ship_name_2" type = "text" name = "pirate[ships][][name]" >
    Ship type 2: <input id = "ship_type_2" type = "text" name = "pirate[ships][][type]" >
    Ship booty 2:<input id = "ship_booty_2" type = "text" name = "pirate[ships][][booty]" >
    <br>

    <input type='submit' id='Submit'>
</form>